body {
	background: linear-gradient(-45deg, #A0C49D, #C4D7B2, #E1ECC8, #F7FFE5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


img {
	border-radius: 50%;
  }